Exercises/Exercise2/Exercise2_modify_string.json
[
    {
        "id": "739672386b3aa0ce",
        "type": "tab",
        "label": "Exercise2_modify_string",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b7b07dbd480ac61",
        "type": "inject",
        "z": "739672386b3aa0ce",
        "name": "hello_world",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World!",
        "payloadType": "str",
        "x": 590,
        "y": 80,
        "wires": [
            [
                "2092f9b624e3c45f"
            ]
        ]
    },
    {
        "id": "6bfdcefbeb2481d2",
        "type": "debug",
        "z": "739672386b3aa0ce",
        "name": "debug_print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "2092f9b624e3c45f",
        "type": "change",
        "z": "739672386b3aa0ce",
        "name": "world_to_mars",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "World",
                "fromt": "str",
                "to": "Mars",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 80,
        "wires": [
            [
                "6bfdcefbeb2481d2"
            ]
        ]
    }
]